server:
    ip: 127.0.0.1
    web-port: 8080
    game-port: 10001
database:
    hostname: 127.0.0.1
    port: 5432
    username: almetica
    password: almetica
    database: almetica
data:
    path: $PATH_TO_DATAFOLDER
game:
    pvp: true
