server:
    hostname: 127.0.0.1
    web-port: 8080
    game-port: 10001
database:
    hostname: 127.0.0.1
    port: 5432
    username: almetica
    password: almetica
    database: almetica
data:
    version: $VERSION
    path: $PATH_TO_DATAFOLDER
    # TODO Move keys into the data folder in key.yml
    key: $DATAPACK_KEY_IN_HEX
    iv: $DATAPACK_IV_IN_HEX
game:
    pvp: true
